.btns {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-bottom: 40px;
}

.btn {
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-menu {
    display: block;
}

.clear-btn {
    width: 100px;
    height: 80px;
}

.btn-outline-info {
    color: #0dcaf0;
}

.btn-outline-info:hover {
    color: white;
}